/* Посилання на наслідують колір,
Кнопки та елементи форми не наслідують шрифт.
Всі Н (від 1...6) наслідують від body жирність 700.
Всі текстові атрибути наслідують від body жирність 400. 
 */
/* --------Налаштування для всього документа-------- */
:root {
--accent-color: #2196F3;
--primary-text-color: #212121;
--secondary-text-color: #757575;
--first-background-color: #FFFFFF;
--second-background-color: #2F303A;
--btn-text-color: #FFFFFF;
--btn-background-color: #2196F3;
--btn-default-background-color: #F5F4FA 
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3%;

    background-color: var(--first-background-color);
    color: var(--primary-text-color);
}

/* --------Утилиты-------- */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

p, 
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    border-radius: 4px;
    border: 0;

    cursor: pointer;
}

img {
    display: block; 
}
/* убирает промежуток между картинками */

.list {
    list-style: none;
}

.link {
text-decoration: none;

color: var(--primary-text-color);
}


/* --------Header-------- */
.header {
padding-top: 24px;
padding-bottom: 25px;
border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
leading-trim: NONE;
line-height: 1;

color: var(--accent-color);
}


.nav-logo span {
color: #000000
}

.header-list {
display: flex;
margin-left: 93px;
}

.header-list .header-item + .header-item {
margin-left: 50px;
}

.header-link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
}

.header-link, 
.adress-nav .link {
font-weight: 500;
font-size: 14px;
leading-trim: NONE;
line-height: 1;
letter-spacing: 2%;
}

.adress-nav{
display: flex;
margin-left: auto;
}

.adress-nav .adress-nav-item + .adress-nav-item {
    margin-left: 50px;
}

.adress-nav .link {
color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus, 
.adress-nav .link:hover, 
.adress-nav .link:focus {     
color: var(--accent-color);
}

/* --------Hero-------- */
.hero {
padding-top: 200px;
padding-bottom: 200px;

background-color: var(--second-background-color);

}

.hero-title {
margin-bottom: 30px;

font-weight: 900;
font-size: 44px;
leading-trim: NONE;
line-height: 1.36;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;

color: var(--first-background-color)
}

.link-button {
/* padding: 10px 24px; */
    
font-family: inherit;
font-weight: 700;
font-size: 16px;
leading-trim: NONE;
line-height: 1.87;
letter-spacing: 6%;
text-align: center;
vertical-align: middle;

color: var(--btn-text-color);
background-color: var(--btn-background-color);

min-width: 200px;
min-height: 50px;
}


.button:hover,
.button:focus {
background-color: #188CE8;
}

/* --------Advantages-------- */

.advantages {
padding-top: 94px;
padding-bottom: 94px;
}

.advantages-list {
    display: flex;
}

.advantages-list .advantages-item + .advantages-item {
    margin-left: 30px;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
/* код, который скрывает элементы. В нашем случае это заголовок. */

.advantages-title {
margin-bottom: 10px;

font-size: 14px;
leading-trim: NONE;
line-height: 1;
text-transform: uppercase;
}

.advantages-after-title {
font-size: 14px;
leading-trim: NONE;
line-height: 1.71;

color: var(--secondary-text-color);
}


/* --------Activity-------- */

.activity {
padding-bottom: 94px;
}

.activity-list {
    display: flex;
}

.activity-list .activity-item + .activity-item {
    margin-left: 30px;
}

/* --------Team--------*/

.team {
margin-bottom: 0;
padding-top: 94px;
padding-bottom: 94px;

background-color: var(--btn-default-background-color);
}

.team-list {
    display: flex;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team-item {
    background-color: var(--first-background-color);
}

.team-img {
margin-bottom: 30px;
}

.team-title {
margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
leading-trim: NONE;
line-height: 1;
text-align: center;
}

.team-after-title {
margin-bottom: 30px;

font-size: 16px;
leading-trim: NONE;
line-height: 1;
text-align: center;

color: var(--secondary-text-color);
}


/* --------Portfolio-------- */

.portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.filter-list {
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.filter-list .filter-item:not(:last-child) {
margin-right: 9px;
}

.filter-button {
padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
leading-trim: NONE;
line-height: 1.62;
text-align: center;
}

.filter-button:default {
 color: var(--primary-text-color);
 background-color: var(--btn-default-background-color) ;
}

.filter-button:hover,
.filter-button:focus {
color: var(--btn-text-color);
background-color: var(--btn-background-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;

    background-color: var(--first-background-color);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-img {
    margin-bottom: 20px;
}

.portfolio-title {
margin-bottom: 4px;

font-size: 18px;
leading-trim: NONE;
line-height: 2;
letter-spacing: 6%;
}

.portfolio-after-title {
font-size: 16px;
leading-trim: NONE;
line-height: 1.87;

color: var(--secondary-text-color);
}

/* --------Footer-------- */
.ftr-adress {
padding-top: 60px;
padding-bottom: 60px;

background-color: var(--second-background-color); 
}


.ftr-logo {
display: inline-block;
margin-bottom: 20px;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
leading-trim: NONE;
line-height: 1;
font-style: normal;

color: var(--accent-color);
}

.ftr-logo span {
color: var(--first-background-color)
}

.adress-link {
font-size: 14px;
leading-trim: NONE;
line-height: 1.71;
font-style: normal;

color: #FFFFFF99;
}

.adress-link.map{
color: var(--first-background-color);
} 

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}
